/*
  Templete:  Ecommerce website
  Author :   Ahmed Fouad
  Version:   0.0.1
*/

/* Base - Base styles, variables, mixins, etc  mean common things in the templete*/

/* MoDULES - Individual site components*/

/* LAYOUTS -page layouts*/

