/*
  Templete:  Ecommerce website
  Author :   Ahmed Fouad
  Version:   0.0.1
*/
/* Base - Base styles, variables, mixins, etc  mean common things in the templete*/
/*start font color*/
/*End font color*/
/*Start background colors*/
/*End background colors*/
/* start showcase area*/
/*End showcase area*/
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", "sans-serif";
  font-size: 15px;
  color: #666666;
}

a {
  color: #00aff0;
}

/*start add background*/
/*End add background*/
/* start background-size prefixes*/
/* End background-size prefixes*/
/*start add-border*/
/*End add-border*/
.img-xs {
  width: 100px;
}

.img-sm {
  width: 200px;
  height: 200px;
}

.img-lg {
  width: 400px;
  height: 400px;
}

.img-xlg {
  width: 700px;
  height: 700px;
}

/* MoDULES - Individual site components*/
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}

.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin-top: 0;
  padding-top: 0;
}

.block-primary {
  background: #00aff0;
  color: #FFF;
}

.block-secondary {
  background: #7fba00;
  color: #FFF;
}

.block-light {
  background: #e4eef2;
  color: #666666;
}

.block-light i {
  color: #00aff0;
}

.block-dark {
  background: #2b5464;
  color: #FFF;
}

.block-border {
  border: 1px solid #cccccc;
}

.block-primary-head {
  margin-bottom: 20px;
}

.block-primary-head h3 {
  padding: 15px 5px 15px 10px;
  background: #00aff0;
  color: #FFF;
  margin: 0;
  font-size: 18px;
}

.block-primary-head .block-content {
  border: 1px solid #00aff0;
  padding: 10px;
}

.btn-primary {
  background: #00aff0;
  color: #FFF;
  border: 2px solid #FFF;
}

.btn-primary:hover {
  background: #008abd;
  border: 2px solid #FFF;
}

.carousel {
  margin-bottom: 20px;
}

.carousel img {
  padding: 0px;
}

.carousel-control {
  width: 5%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  height: 50%;
}

/*Tabs*/
.tab-pane {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.tab-primary .tab-pane,
.tab-primary .nav-tabs > li.active > a,
.tab-primary .nav-tabs > li.active > a:hover,
.tab-primary .nav-tabs > li.active > a:focus {
  background: #00aff0;
  color: #FFF;
  color: #FFF;
}

.tab-secondary .tab-pane,
.tab-secondary .nav-tabs > li.active > a,
.tab-secondary .nav-tabs > li.active > a:hover,
.tab-secondary .nav-tabs > li.active > a:focus {
  background: #7fba00;
  color: #FFF;
  color: #FFF;
}

.tab-dark .tab-pane,
.tab-dark .nav-tabs > li.active > a,
.tab-dark .nav-tabs > li.active > a:hover,
.tab-dark .nav-tabs > li.active > a:focus {
  background: #2b5464;
  color: #FFF;
  color: #FFF;
}

.tab-light .tab-pane,
.tab-light .nav-tabs > li.active > a,
.tab-light .nav-tabs > li.active > a:hover,
.tab-light .nav-tabs > li.active > a:focus {
  background: #e4eef2;
  color: #666666;
  color: #FFF;
}

/*device small*/
.dev-small {
  margin-bottom: -34px;
}

/*End device small*/
/*start iframe*/
iframe {
  width: 337px;
  height: 300px;
  border: 0;
}

/*End iframe*/
section {
  padding: 30px 0;
}

.extra-pa {
  padding: 80px 0;
}

.showcase-section {
  height: 400px;
  background: url("../images/showcase.jpg");
  -ms-background-size: cover;
  background-size: cover;
}

.showcase-section h1 {
  color: #00aff0;
}

.showcase-section img {
  margin-bottom: 10px;
}

.section-primary, .section-primary-a, .section-primary-b {
  background: #00aff0;
  color: #FFF;
}

.section-primary-a {
  border-top: 4px solid #7fba00;
}

.section-primary-b {
  border-bottom: 4px solid #7fba00;
}

.section-light {
  background: #e4eef2;
  color: #666666;
}

.section-dark {
  background: #2b5464;
  color: #FFF;
}

.section-title {
  color: #333;
  text-align: center;
  margin: 0 0 30px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

/* start list*/
.list, .list-feature {
  margin-bottom: 30px;
}

.list-feature {
  padding: 0;
  width: 80%;
}

.list-feature li {
  line-height: 3.6em;
  border-bottom: 1px solid #cccccc;
}

.list-feature li i {
  color: #00aff0;
  font-size: 30px;
}

/* End list*/
/*Start Heading*/
.heading-primary, .heading-primary-a {
  color: #00aff0;
}

.heading-primary-a {
  border-bottom: 2px solid #00aff0;
}

.heading-secondary, .heading-secondary-a {
  color: #7fba00;
}

.heading-secondary-a {
  border-bottom: 2px solid #7fba00;
}

.heading-light, .heading-light-a {
  color: #e4eef2;
}

.heading-light-a {
  border-bottom: 2px solid #e4eef2;
}

.heading-dark, .heading-dark-a {
  color: #2b5464;
}

.heading-dark-a {
  border-bottom: 2px solid #e4eef2;
}

/*End Heading*/
/*start emphasis Text*/
.em-primary {
  color: #00aff0;
}

.em-secondary {
  color: #7fba00;
}

.em-light {
  color: #e4eef2;
}

.em-dark {
  color: #2b5464;
}

/*End emphasis Text*/
.search {
  width: 100%;
}

.search input[type="search"] {
  border: 0;
  height: 49px;
  padding: 10px;
  width: 80%;
  border: 2px solid #00aff0;
}

.search button {
  border: 0;
  padding: 0;
  margin-left: -5px;
}

.search img {
  height: 49px;
  width: 56px;
}

/* LAYOUTS -page layouts*/
a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
  color: #22A7F0;
}

.header {
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 999;
}

.header .topbar {
  position: relative;
  z-index: 11;
  background-color: #333;
}

.header .topbar-contact-info {
  padding: 13px 15px;
  text-align: left;
}

.header .topbar-contact-info ul li {
  padding: 0px 20px;
  border-right: 1px solid #e7e7e7;
}

.header .topbar-contact-info ul li a {
  color: #888;
}

.header .topbar-contact-info ul li a span {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  text-transform: capitalize;
}

.header .topbar-contact-info ul li:first-child {
  padding-left: 0;
}

.header .topbar-contact-info ul li:last-child {
  border-right: none;
}

.header .top-right-menu {
  position: relative;
  padding: 10px 15px;
  text-align: right;
}

.header .top-right-menu ul li {
  padding: 0px 20px;
  border-right: 1px solid #e7e7e7;
}

.header .top-right-menu ul li a {
  color: #888;
}

.header .top-right-menu ul li span {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  text-transform: capitalize;
}

.header .top-right-menu ul li:first-child {
  padding-left: 0;
}

.header .top-right-menu ul li:last-child {
  border-right: none;
}

.header .top-right-menu .dropdown-menu {
  border: none;
  margin-top: 8px;
}

.header .top-right-menu .dropdown-menu li {
  display: block;
  border: none;
  padding: 0;
}

.header .top-right-menu .dropdown-menu li:last-child a {
  border-bottom: none;
}

.header .top-right-menu .dropdown-menu li:last-child:hover {
  background-color: transparent;
  color: #22A7F0;
}

.header .top-right-menu .dropdown-menu li a {
  padding: 8px 15px;
  text-transform: capitalize;
  font-size: 13px;
  border-bottom: 1px dashed #eee;
}

.header .top-right-menu .search-filed .fa {
  color: #999;
  cursor: pointer;
}

.header .top-right-menu .search-box {
  position: absolute;
  right: 130px;
  top: 52px;
  background-color: #22A7F0;
  padding: 15px 35px;
  z-index: 99;
  display: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.rel-ls-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rel-ls-inline li {
  display: inline-block;
}

ul .top-right-menu li {
  padding: 0px 20px;
  border-right: 1px solid #e7e7e7;
}

ul .top-right-menu li span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  text-transform: capitalize;
}

footer {
  background: #2b5464;
  color: #FFF;
  border-top: 4px solid #7fba00;
  min-height: 200px;
  padding: 30px 0;
  z-index: 10000000;
}

footer li {
  line-height: 1.8em;
}

footer h4 {
  color: #7fba00;
}

.blog-post {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 30px;
}

.blog-post h2.page-header {
  margin-top: 5px !important;
}

.blog-post .blog-featured {
  float: left;
  margin-right: 15px;
}

.post-meta {
  background: #f3f3f3;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
}
