.yamm .dropdown-menu  {

  h2{
    font-size: 14px;
    color: #555;
    margin-top: 0px;
    font-weight: bold;
  }
  li{
    line-height: normal;
    padding: 0px 0px;
    list-style: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .yamm-content{
    padding: 20px 20px;
    .links{
      li{
        a{
          padding: 4px 0px;
          letter-spacing: 0.2px;
          font-size: 13px;
          color: #565656;
          line-height: normal;
          text-transform: none;
          display: block;
        }
      }
    }
    .col-menu{
      min-width: 150px;

    }
  }
  .banner-image{
    margin-bottom: -20px;
  }

}



.yamm .dropdown.yamm-fw .dropdown-menu {
  padding: 0;
  margin: 0;
  margin-top: 0;
  border: none;
}

